snippet :art: "🎨  Improve structure / format of the code."
:art:
endsnippet

snippet :zap: "⚡️  Improve performance."
:zap:
endsnippet

snippet :fire: "🔥  Remove code or files."
:fire:
endsnippet

snippet :bug: "🐛  Fix a bug."
:bug:
endsnippet

snippet :ambulance: "🚑️  Critical hotfix."
:ambulance:
endsnippet

snippet :sparkles: "✨  Introduce new features."
:sparkles:
endsnippet

snippet :memo: "📝  Add or update documentation."
:memo:
endsnippet

snippet :rocket: "🚀  Deploy stuff."
:rocket:
endsnippet

snippet :lipstick: "💄  Add or update the UI and style files."
:lipstick:
endsnippet

snippet :tada: "🎉  Begin a project."
:tada:
endsnippet

snippet :white_check_mark: "✅  Add, update, or pass tests."
:white_check_mark:
endsnippet

snippet :lock: "🔒️  Fix security issues."
:lock:
endsnippet

snippet :closed_lock_with_key: "🔐  Add or update secrets."
:closed_lock_with_key:
endsnippet

snippet :bookmark: "🔖  Release / Version tags."
:bookmark:
endsnippet

snippet :rotating_light: "🚨  Fix compiler / linter warnings."
:rotating_light:
endsnippet

snippet :construction: "🚧  Work in progress."
:construction:
endsnippet

snippet :green_heart: "💚  Fix CI Build."
:green_heart:
endsnippet

snippet :arrow_down: "⬇️  Downgrade dependencies."
:arrow_down:
endsnippet

snippet :arrow_up: "⬆️  Upgrade dependencies."
:arrow_up:
endsnippet

snippet :pushpin: "📌  Pin dependencies to specific versions."
:pushpin:
endsnippet

snippet :construction_worker: "👷  Add or update CI build system."
:construction_worker:
endsnippet

snippet :chart_with_upwards_trend: "📈  Add or update analytics or track code."
:chart_with_upwards_trend:
endsnippet

snippet :recycle: "♻️  Refactor code."
:recycle:
endsnippet

snippet :heavy_plus_sign: "➕  Add a dependency."
:heavy_plus_sign:
endsnippet

snippet :heavy_minus_sign: "➖  Remove a dependency."
:heavy_minus_sign:
endsnippet

snippet :wrench: "🔧  Add or update configuration files."
:wrench:
endsnippet

snippet :hammer: "🔨  Add or update development scripts."
:hammer:
endsnippet

snippet :globe_with_meridians: "🌐  Internationalization and localization."
:globe_with_meridians:
endsnippet

snippet :pencil2: "✏️  Fix typos."
:pencil2:
endsnippet

snippet :poop: "💩  Write bad code that needs to be improved."
:poop:
endsnippet

snippet :rewind: "⏪️  Revert changes."
:rewind:
endsnippet

snippet :twisted_rightwards_arrows: "🔀  Merge branches."
:twisted_rightwards_arrows:
endsnippet

snippet :package: "📦️  Add or update compiled files or packages."
:package:
endsnippet

snippet :alien: "👽️  Update code due to external API changes."
:alien:
endsnippet

snippet :truck: "🚚  Move or rename resources (e.g.: files, paths, routes)."
:truck:
endsnippet

snippet :page_facing_up: "📄  Add or update license."
:page_facing_up:
endsnippet

snippet :boom: "💥  Introduce breaking changes."
:boom:
endsnippet

snippet :bento: "🍱  Add or update assets."
:bento:
endsnippet

snippet :wheelchair: "♿️  Improve accessibility."
:wheelchair:
endsnippet

snippet :bulb: "💡  Add or update comments in source code."
:bulb:
endsnippet

snippet :beers: "🍻  Write code drunkenly."
:beers:
endsnippet

snippet :speech_balloon: "💬  Add or update text and literals."
:speech_balloon:
endsnippet

snippet :card_file_box: "🗃️  Perform database related changes."
:card_file_box:
endsnippet

snippet :loud_sound: "🔊  Add or update logs."
:loud_sound:
endsnippet

snippet :mute: "🔇  Remove logs."
:mute:
endsnippet

snippet :busts_in_silhouette: "👥  Add or update contributor(s)."
:busts_in_silhouette:
endsnippet

snippet :children_crossing: "🚸  Improve user experience / usability."
:children_crossing:
endsnippet

snippet :building_construction: "🏗️  Make architectural changes."
:building_construction:
endsnippet

snippet :iphone: "📱  Work on responsive design."
:iphone:
endsnippet

snippet :clown_face: "🤡  Mock things."
:clown_face:
endsnippet

snippet :egg: "🥚  Add or update an easter egg."
:egg:
endsnippet

snippet :see_no_evil: "🙈  Add or update a .gitignore file."
:see_no_evil:
endsnippet

snippet :camera_flash: "📸  Add or update snapshots."
:camera_flash:
endsnippet

snippet :alembic: "⚗️  Perform experiments."
:alembic:
endsnippet

snippet :mag: "🔍️  Improve SEO."
:mag:
endsnippet

snippet :label: "🏷️  Add or update types."
:label:
endsnippet

snippet :seedling: "🌱  Add or update seed files."
:seedling:
endsnippet

snippet :triangular_flag_on_post: "🚩  Add, update, or remove feature flags."
:triangular_flag_on_post:
endsnippet

snippet :goal_net: "🥅  Catch errors."
:goal_net:
endsnippet

snippet :dizzy: "💫  Add or update animations and transitions."
:dizzy:
endsnippet

snippet :wastebasket: "🗑️  Deprecate code that needs to be cleaned up."
:wastebasket:
endsnippet

snippet :passport_control: "🛂  Work on code related to authorization, roles and permissions."
:passport_control:
endsnippet

snippet :adhesive_bandage: "🩹  Simple fix for a non-critical issue."
:adhesive_bandage:
endsnippet

snippet :monocle_face: "🧐  Data exploration/inspection."
:monocle_face:
endsnippet

snippet :coffin: "⚰️  Remove dead code."
:coffin:
endsnippet

snippet :test_tube: "🧪  Add a failing test."
:test_tube:
endsnippet

snippet :necktie: "👔  Add or update business logic"
:necktie:
endsnippet

snippet :stethoscope: "🩺  Add or update healthcheck."
:stethoscope:
endsnippet

snippet :bricks: "🧱  Infrastructure related changes."
:bricks:
endsnippet

snippet :technologist: "🧑‍💻  Improve developer experience"
:technologist:
endsnippet

