snippet :art: "🎨"
:art:
endsnippet

snippet :zap: "⚡️"
:zap:
endsnippet

snippet :fire: "🔥"
:fire:
endsnippet

snippet :bug: "🐛"
:bug:
endsnippet

snippet :ambulance: "🚑️"
:ambulance:
endsnippet

snippet :sparkles: "✨"
:sparkles:
endsnippet

snippet :memo: "📝"
:memo:
endsnippet

snippet :rocket: "🚀"
:rocket:
endsnippet

snippet :lipstick: "💄"
:lipstick:
endsnippet

snippet :tada: "🎉"
:tada:
endsnippet

snippet :white_check_mark: "✅"
:white_check_mark:
endsnippet

snippet :lock: "🔒️"
:lock:
endsnippet

snippet :closed_lock_with_key: "🔐"
:closed_lock_with_key:
endsnippet

snippet :bookmark: "🔖"
:bookmark:
endsnippet

snippet :rotating_light: "🚨"
:rotating_light:
endsnippet

snippet :construction: "🚧"
:construction:
endsnippet

snippet :green_heart: "💚"
:green_heart:
endsnippet

snippet :arrow_down: "⬇️"
:arrow_down:
endsnippet

snippet :arrow_up: "⬆️"
:arrow_up:
endsnippet

snippet :pushpin: "📌"
:pushpin:
endsnippet

snippet :construction_worker: "👷"
:construction_worker:
endsnippet

snippet :chart_with_upwards_trend: "📈"
:chart_with_upwards_trend:
endsnippet

snippet :recycle: "♻️"
:recycle:
endsnippet

snippet :heavy_plus_sign: "➕"
:heavy_plus_sign:
endsnippet

snippet :heavy_minus_sign: "➖"
:heavy_minus_sign:
endsnippet

snippet :wrench: "🔧"
:wrench:
endsnippet

snippet :hammer: "🔨"
:hammer:
endsnippet

snippet :globe_with_meridians: "🌐"
:globe_with_meridians:
endsnippet

snippet :pencil2: "✏️"
:pencil2:
endsnippet

snippet :poop: "💩"
:poop:
endsnippet

snippet :rewind: "⏪️"
:rewind:
endsnippet

snippet :twisted_rightwards_arrows: "🔀"
:twisted_rightwards_arrows:
endsnippet

snippet :package: "📦️"
:package:
endsnippet

snippet :alien: "👽️"
:alien:
endsnippet

snippet :truck: "🚚"
:truck:
endsnippet

snippet :page_facing_up: "📄"
:page_facing_up:
endsnippet

snippet :boom: "💥"
:boom:
endsnippet

snippet :bento: "🍱"
:bento:
endsnippet

snippet :wheelchair: "♿️"
:wheelchair:
endsnippet

snippet :bulb: "💡"
:bulb:
endsnippet

snippet :beers: "🍻"
:beers:
endsnippet

snippet :speech_balloon: "💬"
:speech_balloon:
endsnippet

snippet :card_file_box: "🗃️"
:card_file_box:
endsnippet

snippet :loud_sound: "🔊"
:loud_sound:
endsnippet

snippet :mute: "🔇"
:mute:
endsnippet

snippet :busts_in_silhouette: "👥"
:busts_in_silhouette:
endsnippet

snippet :children_crossing: "🚸"
:children_crossing:
endsnippet

snippet :building_construction: "🏗️"
:building_construction:
endsnippet

snippet :iphone: "📱"
:iphone:
endsnippet

snippet :clown_face: "🤡"
:clown_face:
endsnippet

snippet :egg: "🥚"
:egg:
endsnippet

snippet :see_no_evil: "🙈"
:see_no_evil:
endsnippet

snippet :camera_flash: "📸"
:camera_flash:
endsnippet

snippet :alembic: "⚗️"
:alembic:
endsnippet

snippet :mag: "🔍️"
:mag:
endsnippet

snippet :label: "🏷️"
:label:
endsnippet

snippet :seedling: "🌱"
:seedling:
endsnippet

snippet :triangular_flag_on_post: "🚩"
:triangular_flag_on_post:
endsnippet

snippet :goal_net: "🥅"
:goal_net:
endsnippet

snippet :dizzy: "💫"
:dizzy:
endsnippet

snippet :wastebasket: "🗑️"
:wastebasket:
endsnippet

snippet :passport_control: "🛂"
:passport_control:
endsnippet

snippet :adhesive_bandage: "🩹"
:adhesive_bandage:
endsnippet

snippet :monocle_face: "🧐"
:monocle_face:
endsnippet

snippet :coffin: "⚰️"
:coffin:
endsnippet

snippet :test_tube: "🧪"
:test_tube:
endsnippet

snippet :necktie: "👔"
:necktie:
endsnippet

snippet :stethoscope: "🩺"
:stethoscope:
endsnippet

snippet :bricks: "🧱"
:bricks:
endsnippet

snippet :technologist: "🧑‍💻"
:technologist:
endsnippet

