xfce4/
dconf/
Postman/
spotify/
pulse/
Mattermost/
Thunar/
atril/
gtk-2.0/
gtk-3.0/
hexchat/
libreoffice/
pulse/
update-notifier/
xubuntu/
Trolltech.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
pavucontrol.ini
discord/
gpick/
browserify/
Unknown Organization/
configstore/
configstore/
ibus/
insight-nodejs/
zoomus.conf
Franz/
GitKraken/
Mousepad/
menus/
BraveSoftware/
htop/
gcloud/
pgadmin4/
VirtualBox/
gitahead.com/
openrazer/
polychromatic/
flameshot/
Microsoft/
teams/
QtProject.conf
inkscape/
ristretto/
GIMP/
Foxit Software/
droidcam
autostart/
evolution/
vlc/
.gsd-keyboard.settings-ported
obs-studio/
cef_user_data
krulerrc
nvim/spell/
island/
awesome/*
!awesome/themes/
awesome/themes/*
!awesome/themes/custom/
!awesome/rc.lua
nemo/
caja/
qt5ct/
nitrogen/
enchant/
pix/
qBittorrent/
xed/
xviewer/
yelp/
Arduino IDE/
arduino-ide/
composer/
Google/
Android Open Source Project/
screenruler/
.luarc.json
simple-scan/
ngrok/
Code/
cinnamon/
gcolor3/config.ini
org.keshavnrj.ubuntu/ColorPicker.conf
create-next-app-nodejs/
google-chrome-for-testing/
nextjs-nodejs/
warpinator/.group
lazy-lock.json
chromium/
eas-cli-nodejs/
