xfce4/
dconf/
Postman/
spotify/
pulse/
Mattermost/
Thunar/
atril/
gtk-2.0/
gtk-3.0/
hexchat/
libreoffice/
pulse/
update-notifier/
xubuntu/
Trolltech.conf
mimeapps.list
user-dirs.dirs
user-dirs.locale
pavucontrol.ini
discord/
gpick/
browserify/
Unknown Organization/
configstore/
configstore/
ibus/
insight-nodejs/
zoomus.conf
Franz/
GitKraken/
Mousepad/
menus/
BraveSoftware/
htop/
gcloud/
