[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Autostart scripts
Comment=Configurations to be set on startup
Exec=/home/felipe/Documents/autostart.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

