global !p
from snippet_helpers import *
endglobal

snippet bfigure
\begin{figure}[${1:htb}]
    \centering
    \includegraphics[width=${2:0.8}\textwidth]{${3}}
    \caption{${4:Caption}}
    \label{Fig: `!p snip.rv = cleanText(t[4])`}
\end{figure}
$0
endsnippet

snippet btable
\begin{table}[${1:htb}]
	\centering
	\begin{tabular}{$3}
		$4
	\end{tabular}
	\caption{$2}
	\label{Tbl: `!p snip.rv = cleanText(t[2])`}
\end{table}
endsnippet

